---
layout: null
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
</head>
<body>

<header class="site-header" role="banner">
    <div class="wrapper">
        <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title }}</a>
    </div>
</header>

<main class="page-content" aria-label="Content">
    <div class="wrapper">
        {{ content }}
    </div>
</main>

<footer class="site-footer">
    <div class="wrapper">
        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <p><strong>{{ site.title }}</strong><br />
                    <a href="mailto:contact@sparkwire.net">contact@sparkwire.net</a></p>
            </div>
            <div class="footer-col footer-col-2">
                <p>{{ site.description }}</p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
