<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
</head>
<body>
<header>
    <h1><a href="{{ "/" | relative_url }}">{{ site.title }}</a></h1>
</header>

<main class="page-content">
    <div class="wrapper">
        {{ content }}
    </div>
</main>

<footer class="site-footer">
    <div class="wrapper">
        <div>
            <p><strong>{{ site.title }}</strong><br />
                <a href="mailto:contact@sparkwire.net">contact@sparkwire.net</a></p>
        </div>
        <div>
            <p>{{ site.description }}</p>
        </div>
    </div>
</footer>
</body>
</html>
